
.vscode/settings.json
Gui diff og integral/__pycache__/meth.cpython-38.pyc
Gui diff og integral/__pycache__/main.cpython-38.pyc
Gui diff og integral/__pycache__/meth.cpython-38.pyc
Gui diff og integral/__pycache__/meth.cpython-38.pyc
Gui diff og integral/__pycache__/meth.cpython-38.pyc
*.pyc
Gui diff og integral/main.py
